---
- name: download spark...
  become: yes
  become_user: root
  get_url: >
    url={{spark_url}}
    dest=/tmp/{{spark_tgz}}
    mode=0644

- name: install spark to /opt...
  become: yes
  become_user: root
  unarchive: >
    copy=no
    dest={{spark_parent_dir}}
    src=/tmp/{{spark_tgz}}
    creates={{spark_parent_dir}}/{{spark_hadoop_name}}

- name: link /opt/spark...
  become: yes
  become_user: root
  file: >
    src={{spark_target_dir}}
    dest={{spark_parent_dir}}/spark
    state=link

- name: include spark in the default path...
  become: yes
  become_user: root
  with_items:
    - etc/profile.d/spark.sh
  template: >
    src={{item}}.j2
    dest=/{{item}}
    mode=0644
